# Roblox
/*.rbxm*
/*.rbxl*
*.rbxl*.lock
build.rbxm

# Other
.env
build/
.DS_Store
.vscode/**
!.vscode/settings.json
*.sublime-project
*.sublime-workspace
*.log
__pycache__

# Rojo
sourcemap.json

# Third-party libraries
Packages
LuauPackages
